.navbar{
    flex-direction: column;
}
#about{
    flex-direction: column;
}
/* #about .box img{
    align-items: center;
} */
.text{ 
    word-wrap: break-word;
   font-size: 1.2rem;
} 
#about .box p{
    margin-left: 0px;
    word-wrap: break-word;
    font-size: 1.4rem;
}
#about-containor h1{
    font-size: 2.0rem;
}
#home h1{
    font-size: 1.7rem;
    font-family: 'Roboto Slab', serif;
    color: coral;
}
#contact-box textarea{
    padding:0.5rem;
    width: 70%;
    margin: 10px;
}
#contact-box .form-group{
    width: 70%;
}
footer{
    bottom: 0px;
}